@import "bourbon";

// Load Neat Grid
@import 'variables/grid-settings';
@import "neat";

// Load Global Variables
@import 'variables/z-index';

footer {
	/*background-color: #232323;*/
	color: #ddd;
	border-color: #444;
	padding: 15px 0 0px 0;
	z-index: $z-index-1;
	height: auto;
	min-height: 70px;
}

.container {
	position: relative;
	width: 68em;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

.one-full, .one-half,
.one-third,
.one-fourth,
.one-fifth,
.one-sixth,
.two-third,
.three-fourth,
.two-fifth,
.three-fifth,
.four-fifth,
.two-sixth,
.three-sixth,
.four-sixth,
.five-sixth {
	background: tint( red, 40% );
	@include size(100% 50px);
}

/* = Columns for better content seperation
-------------------------------------------------------------- */
.flex-column {
	z-index: $z-index-2;
	min-height: 1px;
	width: 100%;
	@include position( relative, null null null null );
}

/* 1/1 */
.one-full {
	@include span-columns(12, block-collapse);
}

/* 1/2 */
.one-half {
	@include span-columns(6, no-display);
}

/* 1/3 */
.one-third {
	@include span-columns(4, no-display);
}

.two-third {
	@include span-columns(8);
}

/* 1/4 */
.one-fourth {
	@include span-columns(3);
}

.three-fourth {
	@include span-columns(9);
}

/* 1/5 */
.one-fifth {
	@include span-columns(2.4);
}

.two-fifth {
	@include span-columns(4.8);
}

.three-fifth {
	@include span-columns(7.2);
}

.four-fifth {
	@include span-columns(9.6);
}

/* 1/6 */
.one-sixth {
	@include span-columns(2);
}

.two-sixth {
	@include span-columns(4);
}

.three-sixth {
	@include span-columns(6);
}

.four-sixth {
	@include span-columns(8);
}

.fifth-sixth {
	@include span-columns(10);
}
