// Adding a Visual Grid while you develop. Set to 'true.'
$visual-grid: true !default; // Display the base grid
$visual-grid-color: #33b787 !default;
$visual-grid-index: back !default; // Show grid behind content (back) or overlay it over the content (front)
$visual-grid-opacity: 0.4 !default;
$visual-grid-breakpoints: () !default;

// Grid Settings
$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 1) !default; // Gutter between each two columns
$grid-columns: 12 !default; // Total number of columns in the grid
$max-width: em(1088) !default; // Max-width of the outer container
$border-box-sizing: true !default; // Makes all elements have a border-box layout
$default-feature: min-width; // Default @media feature for the breakpoint() mixin
$default-layout-direction: LTR !default;

// Screen sizes. Can be done em(320)
$smallest-screen:  320px;
$smaller-screen:   480px;
$small-screen:     810px;
$medium-screen:    1023px;
$large-screen:     1180px;
$huge-screen:      1600px;

// Breakpoints
$smallest-screen-up:  new-breakpoint(min-width $smallest-screen  4);
$smaller-screen-up:   new-breakpoint(min-width $smaller-screen   6);
$small-screen-up:     new-breakpoint(min-width $small-screen    12);
$medium-screen-up:    new-breakpoint(min-width $medium-screen   12);
$large-screen-up:     new-breakpoint(min-width $large-screen    12);
$huge-screen-up:      new-breakpoint(min-width $huge-screen     12);
